


.contenedorFooter {
    background-color: map-get($map: $otros-colores, $key: gris);
    text-decoration: $cuarto-color;
    box-shadow: inset 0 0 5px $cuarto-color;
    .divContFooter {
        display: flex;
        align-items: center;
        .divRedes {
            color: $cuarto-color;
            .redes {
                font-size: 1.1rem;
                &:hover {
                    text-shadow: 0 0 5px $primer-color, 0 0 25px $primer-color;
                }
            }
            .divIconos {
                .whatsapp {
                    color: $cuarto-color;
                }
                .instagram {
                    color: $cuarto-color;
                }
                .email {
                    color: $cuarto-color;
                }
            }
        }
        .divDerechos {
            justify-content: center;
            text-decoration: $cuarto-color;
            &:hover {
                text-shadow: 0 0 5px $primer-color, 0 0 25px $primer-color;
            }
            .derechos {
                color: $cuarto-color;
                margin-top: 2%;
                font-size: 0.7rem;
            }
            .logoFooter {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 180px;
                margin-bottom: 2%;
                background-color: $cuarto-color;
            }
        }
    }
}
