    
    
.contenedorArriba {
    .contNav {
        z-index: 1;
        position: fixed;
        top: 0%;
        background-color: map-get($map: $otros-colores, $key: negro-trasnparente-ocuro);
        .divNav {
            .anclaLogo {
                .logoHeader {
                    width: 260px;
                    background-color: map-get($map: $otros-colores, $key: negro-trasnparente);
                }
            }
            .navbar-toggler {
                background-color: $segundo-color;
            }
            .divlis {
                .lista {
                    .listas {
                        .letraNav {
                            text-decoration: none;
                            background-color: $segundo-color;
                            font-size: 1.3rem;
                            font-weight: 1000;
                            color: black;
                            &:hover {
                                text-shadow: 0 0 5px $primer-color, 0 0 25px $primer-color;
                            }
                        }
                    }
                }
            }
            .divcontacto {
                .anclaImgEncargos {
                    .imagenEncargos {
                        width: 96px;
                    }
                }
            }
        }
    }
}
