$primer-color: #7e4ca5ee;
$segundo-color: #dbb6ee;
$tercer-color: #eeebee;
$cuarto-color: black;
$tipografia-general: 'Roboto Condensed', sans-serif;

/*mapas*/

$otros-colores: (
    negro-trasnparente: rgba(0, 0, 0, 0.356),
    gris: rgb(165, 165, 165),
    blanco: #f0d6fc,
)

